*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after{
    content: '';
    clear: both;
    display: table;
}



/* struttura a blocchi */



body{
    padding: 1rem;
    margin: auto;
    width: 1400px;
    /* font-family: 'Open Sans', sans-serif; */
    /* font-family: 'Quicksand', sans-serif; */
    font-family: 'Montserrat', sans-serif;
}

.debug > .content {
    height: 300px;
} 


header {
    height: 170px;
    /* background-color: seagreen; */
    margin-bottom: 3rem;
}

footer{
    height: 100px;
    /* background-color: seagreen; */

    position: relative;

}

.hero-img{
    height: 600px;
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    position: relative;
    margin-top: 2rem;
}

.box-page{
    margin-top: 3rem;
}

.sub-title{

    width: 100%;
    /* background-color: yellow; */
    margin-bottom: 3rem;
}

.sidebar {
    /* background-color: pink; */
    width: 25%;
}

.maincontent {
    /* background-color: powderblue; */
    width: 44%;
    margin-left: 3%;
    margin-right: 3%;
}

.sidebar, .maincontent {
    float: left;
    height: 100%;
}



/* riempimento blocchi */


/* header */


#logo{
    height: 85px;
    margin-bottom: 3.5rem;
}

header > nav{
    font-size: larger;
}

header > nav > a{
    text-decoration: none;
    color: grey;
}


/* hero */


.layer{
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;

}

.hero-txt{
    width: 100%;
    position: absolute;
    bottom: 90px;
    left: 50px;
    color: white;
}

.hero-txt > h1 {
    width: 750px;    
}

.hero-txt > nav {
    width: 700px;
    font-size: large;  
 
}


/* secondo titolo */



.sub-title > h1{
    font-family: 'Open Sans', sans-serif
}

.sub-title > span {
    color: gray;
}


/* 3 colonne */

.pic1 , .pic2 , .pic3 {
    height: 260px;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    border-radius: 10px;
    margin-bottom: 20px;
}

.layer-pic1{
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    
}

.sidebar > p , .maincontent > p {
    margin-top: 20px;
    color: grey;
}

.pic1{
    background-image: url(../img/img-1.jpg);
}

.pic2{
    background-image: url(../img/img-3.jpg);
}

.pic3{
    background-image: url(../img/img-6.jpg);
}



/* fine pagina */


footer > span {
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   
}

